In [1]:
# Kalayaporn Wangsthaporn
# Assignment 4
# Machine Learning

In [2]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor 
from sklearn.metrics import  mean_squared_error

In [3]:
cdsdata = pd.read_stata("/Users/kalayaporn/Desktop/cds_spread5y_2001_2016.dta")

In [4]:
cdsdata.shape

(169043, 9)

In [5]:
cdsdata.dtypes

gvkey                    object
mdate            datetime64[ns]
redcode                  object
tier                     object
ticker                   object
shortname                object
docclause                object
spread5y                float64
impliedrating            object
dtype: object

In [6]:
cdsdata.head()

,gvkey,mdate,redcode,tier,ticker,shortname,docclause,spread5y,impliedrating
0,001038,2004-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,MR,0.042000,BB
1,001038,2005-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034000,BB
2,001038,2005-09-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034000,BB
3,001038,2005-10-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034001,BB
4,001038,2005-11-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034001,BB

In [7]:
qmcdata = pd.read_csv("/Users/kalayaporn/Desktop/Quarterly Merged CRSP-Compustat.csv", low_memory = False)

In [8]:
qmcdata.shape

(58928, 687)

In [9]:
qmcdata.dtypes

GVKEY          int64
LINKPRIM      object
LIID          object
LINKTYPE      object
LPERMNO        int64
LPERMCO        int64
LINKDT        object
LINKENDDT     object
datadate      object
fyearq         int64
fqtr           int64
fyr            int64
indfmt        object
consol        object
popsrc        object
datafmt       object
tic           object
cusip         object
conm          object
acctchgq      object
acctstdq      object
adrrq        float64
ajexq        float64
ajpq         float64
bsprq         object
compstq       object
curcdq        object
curncdq       object
currtrq      float64
curuscnq     float64
              ...
addzip        object
busdesc       object
city          object
conml         object
county        object
dlrsn        float64
ein           object
fax           object
fyrc           int64
ggroup         int64
gind           int64
gsector        int64
gsubind        int64
idbflag       object
incorp        object
loc           object
naics          int64
phone         object
prican        object
prirow        object
priusa         int64
sic            int64
spcindcd     float64
spcseccd     float64
spcsrc        object
state         object
stko         float64
weburl        object
dldte         object
ipodate       object
Length: 687, dtype: object

In [10]:
qmcdata.head()

,GVKEY,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,datadate,fyearq,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,1038,P,01,LU,66413,6301,08/18/1983,12/31/2004,03/31/2001,2000,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
1,1038,P,01,LU,66413,6301,08/18/1983,12/31/2004,06/30/2001,2001,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
2,1038,P,01,LU,66413,6301,08/18/1983,12/31/2004,09/30/2001,2001,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
3,1038,P,01,LU,66413,6301,08/18/1983,12/31/2004,12/31/2001,2001,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
4,1038,P,01,LU,66413,6301,08/18/1983,12/31/2004,03/31/2002,2001,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN

In [11]:
# cdsdata
# Convert mdate to datetime format
# Seperate Month/ Year 

cdsdata['Date'] = pd.to_datetime(cdsdata['mdate'])
cdsdata['Month'] = cdsdata['Date'].dt.month
cdsdata['Year'] = cdsdata['Date'].dt.year

In [12]:
cdsdata.head()

,gvkey,mdate,redcode,tier,ticker,shortname,docclause,spread5y,impliedrating,Date,Month,Year
0,001038,2004-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,MR,0.042000,BB,2004-08-31,8,2004
1,001038,2005-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034000,BB,2005-08-31,8,2005
2,001038,2005-09-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034000,BB,2005-09-30,9,2005
3,001038,2005-10-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034001,BB,2005-10-31,10,2005
4,001038,2005-11-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034001,BB,2005-11-30,11,2005

In [13]:
#Setting the different quarters in cdsdata
cdsdata['Quarter'] = '4'

#Convert month into 'Quarter'
#For quarter 4
#Month 10 - 12
cdsdata['Quarter'][cdsdata['Month'] > 9] = '4'

#For quarter 3 
#Month 7 - 9
cdsdata['Quarter'][(cdsdata['Month'] > 6) & (cdsdata['Month'] < 9)] = '3'

#For quater 2
#Month 4 - 6
cdsdata['Quarter'][(cdsdata['Month'] > 3) & (cdsdata['Month'] < 6)] = '2'

#For quater 1
#Month 1 - 3
cdsdata['Quarter'][cdsdata['Month'] < 3] = '1'

/Users/kalayaporn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/kalayaporn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/kalayaporn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/kalayaporn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
cdsdata.head()

,gvkey,mdate,redcode,tier,ticker,shortname,docclause,spread5y,impliedrating,Date,Month,Year,Quarter
0,001038,2004-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,MR,0.042000,BB,2004-08-31,8,2004,3
1,001038,2005-08-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034000,BB,2005-08-31,8,2005,3
2,001038,2005-09-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034000,BB,2005-09-30,9,2005,4
3,001038,2005-10-31,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034001,BB,2005-10-31,10,2005,4
4,001038,2005-11-30,0A17CF,SNRFOR,AEN,AMC Entmt Inc,XR,0.034001,BB,2005-11-30,11,2005,4

In [15]:
# Transform the entity type in cdsdata to float

cdsdata['gvkey'] = cdsdata['gvkey'].astype(float)
cdsdata['Quarter'] = cdsdata['Quarter'].astype(float)
cdsdata['Year'] = cdsdata['Year'].astype(float)

In [16]:
# Change columns names in qmcdata to match colums in cdsdata

qmcdata = qmcdata.rename(columns = {'datadate':'mdate'})
qmcdata = qmcdata.rename(columns = {'GVKEY':'gvkey'})

In [17]:
qmcdata.head()

,gvkey,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,mdate,fyearq,...,priusa,sic,spcindcd,spcseccd,spcsrc,state,stko,weburl,dldte,ipodate
0,1038,P,01,LU,66413,6301,08/18/1983,12/31/2004,03/31/2001,2000,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
1,1038,P,01,LU,66413,6301,08/18/1983,12/31/2004,06/30/2001,2001,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
2,1038,P,01,LU,66413,6301,08/18/1983,12/31/2004,09/30/2001,2001,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
3,1038,P,01,LU,66413,6301,08/18/1983,12/31/2004,12/31/2001,2001,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN
4,1038,P,01,LU,66413,6301,08/18/1983,12/31/2004,03/31/2002,2001,...,1,7830,245.0,978.0,NaN,MO,0.0,www.amctheatres.com,12/27/2004,NaN

In [18]:
# qmcdata
# Convert mdate to datetime format
# Seperate Month/ Year 


qmcdata['Date'] = pd.to_datetime(qmcdata['mdate'])
qmcdata['Month'] = qmcdata['Date'].dt.month
qmcdata['Year'] = qmcdata['Date'].dt.year

In [19]:
#Setting the different quarters in qmcdata
qmcdata['Quarter'] = '4'

#Convert month into 'Quarter'
#For quarter 4
#Month 10 - 12
qmcdata['Quarter'][qmcdata['Month'] > 9] = '4'

#For quarter 3
#Month 7 - 9
qmcdata['Quarter'][(qmcdata['Month'] > 6) & (qmcdata['Month'] < 9)] = '3'

#For quater 2
#Month 4 - 6
qmcdata['Quarter'][(qmcdata['Month'] > 3) & (qmcdata['Month'] < 6)] = '2'

#For quater 1
#Month 1 - 3 
qmcdata['Quarter'][qmcdata['Month'] < 3] = '1'

/Users/kalayaporn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/Users/kalayaporn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/kalayaporn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/kalayaporn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
# Transform the columns in qmcdata to float
qmcdata['gvkey'] = qmcdata['gvkey'].astype(float)
qmcdata['Quarter'] = qmcdata['Quarter'].astype(float)
qmcdata['Year'] = qmcdata['Year'].astype(float)

In [21]:
# Merge cdsdata and qmcdata 
# Use 'gvkey' ,'Quarter' , 'Year'
mergedata = pd.merge(qmcdata, cdsdata, on=['gvkey', 'Quarter','Year'])

In [22]:
mergedata.head()

,gvkey,LINKPRIM,LIID,LINKTYPE,LPERMNO,LPERMCO,LINKDT,LINKENDDT,mdate_x,fyearq,...,mdate_y,redcode,tier,ticker,shortname,docclause,spread5y,impliedrating,Date_y,Month_y
0,1045.0,P,01,LC,21020,20010,01/31/1962,01/04/2012,03/31/2002,2002,...,2002-03-31,0A18DB,SNRFOR,AMR,AMR Corp,MR,0.043750,CCC,2002-03-31,3
1,1045.0,P,01,LC,21020,20010,01/31/1962,01/04/2012,03/31/2002,2002,...,2002-06-30,0A18DB,SNRFOR,AMR,AMR Corp,MR,0.047925,CCC,2002-06-30,6
2,1045.0,P,01,LC,21020,20010,01/31/1962,01/04/2012,03/31/2002,2002,...,2002-09-30,0A18DB,SNRFOR,AMR,AMR Corp,MR,0.220847,CCC,2002-09-30,9
3,1045.0,P,01,LC,21020,20010,01/31/1962,01/04/2012,03/31/2002,2002,...,2002-10-31,0A18DB,SNRFOR,AMR,AMR Corp,MR,0.269216,CCC,2002-10-31,10
4,1045.0,P,01,LC,21020,20010,01/31/1962,01/04/2012,03/31/2002,2002,...,2002-11-30,0A18DB,SNRFOR,AMR,AMR Corp,MR,0.254322,CCC,2002-11-30,11

In [23]:
# Extract only numerical records 
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

In [24]:
# Mergedata without non-numerical data
mergedata = mergedata.select_dtypes(include=numerics)

In [25]:
# Pre processing data
# Replace NA with median 
mergedata=mergedata.fillna(mergedata.median())

In [26]:
# Remove missing value variable
mergedata=mergedata.dropna(axis=1, how='any')

In [27]:
mergedata.head()

,gvkey,LPERMNO,LPERMCO,fyearq,fqtr,fyr,adrrq,ajexq,ajpq,currtrq,...,priusa,sic,spcindcd,spcseccd,stko,Month_x,Year,Quarter,spread5y,Month_y
0,1045.0,21020,20010,2002,1,12,1.0,1.0,1.0,1.0,...,4,4512,605.0,600.0,0.0,3,2002.0,4.0,0.043750,3
1,1045.0,21020,20010,2002,1,12,1.0,1.0,1.0,1.0,...,4,4512,605.0,600.0,0.0,3,2002.0,4.0,0.047925,6
2,1045.0,21020,20010,2002,1,12,1.0,1.0,1.0,1.0,...,4,4512,605.0,600.0,0.0,3,2002.0,4.0,0.220847,9
3,1045.0,21020,20010,2002,1,12,1.0,1.0,1.0,1.0,...,4,4512,605.0,600.0,0.0,3,2002.0,4.0,0.269216,10
4,1045.0,21020,20010,2002,1,12,1.0,1.0,1.0,1.0,...,4,4512,605.0,600.0,0.0,3,2002.0,4.0,0.254322,11

In [28]:
# Split the dataset 
# Test Dataset
TestData = mergedata[(mergedata['Year'] >= 2016) & (mergedata['Year'] <= 2018)]

In [29]:
# Split x and y for test data
X_test = TestData.drop('spread5y', axis=1)
y_test = TestData['spread5y']

In [30]:
# Remove other variables or featires in dataset
X_test= X_test.drop('Month_x', axis=1)
X_test= X_test.drop('Month_y', axis=1)
X_test= X_test.drop('Quarter', axis=1)
X_test= X_test.drop('Year', axis=1)
X_test= X_test.drop('gvkey', axis=1)

In [31]:
# Train Dataset
TrainData=mergedata[(mergedata['Year'] < 2016)]

In [32]:
# Split x and y for train data
X_train = TrainData.drop('spread5y', axis=1)
y_train = TrainData['spread5y']

In [33]:
# Remove other variables or featires in dataset
X_train= X_train.drop('Month_x', axis=1)
X_train= X_train.drop('Month_y', axis=1)
X_train= X_train.drop('Quarter', axis=1)
X_train= X_train.drop('Year', axis=1)
X_train= X_train.drop('gvkey', axis=1)

In [34]:
# Run Random Forest (RF) on TrainData
RF = RandomForestRegressor(n_estimators=50) 
RF.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [35]:
# Score the model in the TestData
RF.score(X_test, y_test)
RF_pred = RF.predict(X_test)

In [36]:
ImpF=RF.feature_importances_
ImpF = pd.DataFrame(RF.feature_importances_,
                    index = X_train.columns,
                    columns=['importance']).sort_values('importance',ascending=False)

# Top 50 importance features
Feature_50 = ImpF.iloc[:50,:]
Feature_50 = Feature_50.index.tolist()

# Find Mean Absolute Percentage Error
def mean_absolute_percentage_error(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

mean_squared_error(y_test,RF_pred)
mean_absolute_percentage_error(y_test, RF_pred)

44.76370214725335

In [37]:
# Keep the first 50 highest importance features

FilXTrain=X_train[Feature_50]
FiltXtest=X_test[Feature_50]

In [51]:
# Random Forest 
# regressor 100

RF_100 = RandomForestRegressor(n_estimators=100) 
RF_100.fit(FilXTrain,y_train)
RF_100_pred=RF_100.predict(FiltXtest)

mape_RF_100 = mean_absolute_percentage_error(y_test, RF_100_pred)
mape_RF_100
mse_RF_100 = mean_squared_error(y_test,RF_100_pred)
mse_RF_100

print('Mean Squared Error for RandomForest with 100 trees: ', mse_RF_100)

Mean Squared Error for RandomForest with 100 trees:  0.00180599887312

In [52]:
# regressor 200

RF_200 = RandomForestRegressor(n_estimators=200) 
RF_200.fit(FilXTrain,y_train)
RF_200_pred=RF_200.predict(FiltXtest)

mape_RF_200 = mean_absolute_percentage_error(y_test, RF_200_pred)
mape_RF_200
mse_RF_200 = mean_squared_error(y_test,RF_200_pred)
mse_RF_200

print('Mean Squared Error for RandomForest with 200 trees: ', mse_RF_200)

Mean Squared Error for RandomForest with 200 trees:  0.00183379501806

In [48]:
# regressor 500

RF_500 = RandomForestRegressor(n_estimators=500) 
RF_500.fit(FilXTrain,y_train)
RF_500_pred = RF_500.predict(FiltXtest)

mape_RF_500 = mean_absolute_percentage_error(y_test, RF_500_pred)
mape_RF_500
mse_RF_500 = mean_squared_error(y_test,RF_500_pred)
mse_RF_500

print('Mean Squared Error for RandomForest with 500 trees: ', mse_RF_500)

Mean Squared Error for RandomForest with 500 trees:  0.0019394790978

In [ ]:
# regressor 1000

RF_1000 = RandomForestRegressor(n_estimators=1000) 
RF_1000.fit(FilXTrain,y_train)
RF_1000_pred = RF_1000.predict(FiltXtest)

mape_RF_1000 = mean_absolute_percentage_error(y_test, RF_1000_pred)
mape_RF_1000
mse_RF_1000 = mean_squared_error(y_test,RF_1000_pred)
mse_RF_1000

print('Mean Squared Error for RandomForest with 1000 trees: ', mse_RF_1000)

In [53]:
# Make a list of Mean Squared Error

mse_RF=[]
mse_RF.append(mse_RF_100)
mse_RF.append(mse_RF_200)
mse_RF.append(mse_RF_500)
mse_RF.append(mse_RF_1000)

In [56]:
from sklearn.ensemble import GradientBoostingRegressor 
from sklearn import ensemble
from sklearn.metrics import mean_squared_error

In [61]:
# Gradient Boost 
# 100 estimators 

GB_100 = ensemble.GradientBoostingRegressor(n_estimators = 100, max_depth = 3)
GB_100.fit(FilXTrain,y_train)
GB_100_pred = GB_100.predict(FiltXtest)

mape_GB_100 = mean_absolute_percentage_error(y_test, GB_100_pred)
mape_GB_100
mse_GB_100 = mean_squared_error(y_test, GB_100_pred)
mse_GB_100

print('Mean Squared Error for Gradient Boosting with 100 trees: ', mse_GB_100)

Mean Squared Error for Gradient Boosting with 100 trees:  0.000989272853674

In [62]:
# 200 estimators 

GB_200 = ensemble.GradientBoostingRegressor(n_estimators = 200, max_depth = 3)
GB_200.fit(FilXTrain,y_train)
GB_200_pred = GB_200.predict(FiltXtest)

mape_GB_200 = mean_absolute_percentage_error(y_test, GB_200_pred)
mape_GB_200
mse_GB_200 = mean_squared_error(y_test, GB_200_pred)
mse_GB_200

print('Mean Squared Error for Gradient Boosting  with 200 trees: ', mse_GB_200)

Mean Squared Error for Gradient Boosting  with 200 trees:  0.000921578838899

In [64]:
# 500 estimators 

GB_500 = ensemble.GradientBoostingRegressor(n_estimators = 500, max_depth = 3)
GB_500.fit(FilXTrain,y_train)
GB_500_pred = GB_500.predict(FiltXtest)

mape_GB_500 = mean_absolute_percentage_error(y_test, GB_500_pred)
mape_GB_500
mse_GB_500 = mean_squared_error(y_test, GB_500_pred)
mse_GB_500

print('Mean Squared Error for Gradient Boosting  with 500 trees: ', mse_GB_500)

Mean Squared Error for Gradient Boosting  with 500 trees:  0.000875303323107

In [59]:
# 1000 estimators 

GB_1000 = ensemble.GradientBoostingRegressor(n_estimators = 1000, max_depth = 3)
GB_1000.fit(FilXTrain,y_train)
GB_1000_pred = GB_1000.predict(FiltXtest)

mape_GB_1000 = mean_absolute_percentage_error(y_test, GB_1000_pred)
mape_GB_1000
mse_GB_1000 = mean_squared_error(y_test, GB_1000_pred)
mse_GB_1000

print('Mean Squared Error for Gradient Boosting  with 1000 trees: ', mse_GB_1000)

Mean Squared Error for Gradient Boosting  with 1000 trees:  0.000838683937883

In [65]:
# Make a list of Mean Squared Error

mse_GB=[]
mse_GB.append(mse_GB_100)
mse_GB.append(mse_GB_200)
mse_GB.append(mse_GB_500)
mse_GB.append(mse_GB_1000)

In [1]:
# XG Boosting

import xgboost as xgb

In [3]:
# 100 estimators 

XGB_100 = xgb.XGBRegressor(n_estimators=100, learning_rate=0.1, max_depth=3)
XGB_100.fit(FilXTrain,y_train)
XGB_100_pred = XGB_100.predict(FiltXtest)

mape_XGB_100 = mean_absolute_percentage_error(y_test, XGB_100_pred)
mape_XGB_100
mse_XGB_100 = mean_squared_error(y_test, XGB_100_pred)
mse_XGB_100

print('Mean Squared Error for XGradient Boosting with 100 trees: ', mse_XGB_100)

NameError: name 'FilXTrain' is not defined

In [ ]:
# 200 estimators 

XGB_200 = xgboost.XGBRegressor(n_estimators=200, learning_rate=0.1, max_depth=3)
XGB_200.fit(FilXTrain,y_train)
XGB_200_pred = XGB_200.predict(FiltXtest)

mape_XGB_200 = mean_absolute_percentage_error(y_test, XGB_200_pred)
mape_XGB_200
mse_XGB_200 = mean_squared_error(y_test, XGB_200_pred)
mse_XGB_200

print('Mean Squared Error for XGradient Boosting with 200 trees: ', mse_XGB_200)

In [ ]:
# 500 estimators 

XGB_500 = xgboost.XGBRegressor(n_estimators=500, learning_rate=0.1, max_depth=3)
XGB_500.fit(FilXTrain,y_train)
XGB_500_pred = XGB_500.predict(FiltXtest)

mape_XGB_500 = mean_absolute_percentage_error(y_test, XGB_500_pred)
mape_XGB_500
mse_XGB_500 = mean_squared_error(y_test, XGB_500_pred)
mse_XGB_500

print('Mean Squared Error for XGradient Boosting with 500 trees: ', mse_XGB_500)

In [ ]:
# 1000 estimators 

XGB_1000 = xgboost.XGBRegressor(n_estimators=1000, learning_rate=0.1, max_depth=3)
XGB_1000.fit(FilXTrain,y_train)
XGB_1000_pred = XGB_1000.predict(FiltXtest)

mape_XGB_1000 = mean_absolute_percentage_error(y_test, XGB_1000_pred)
mape_XGB_1000
mse_XGB_1000 = mean_squared_error(y_test, XGB_1000_pred)
mse_XGB_1000

print('Mean Squared Error for XGradient Boosting with 1000 trees: ', %mse_XGB_1000)

In [ ]:
# Make a list of Mean Squared Error

mse_XGB = []
mse_XGB.append(mse_XGB_100)
mse_XGB.append(mse_XGB_200)
mse_XGB.append(mse_XGB_500)
mse_XGB.append(mse_XGB_1000)

In [ ]:
# Plot Mean Squared Error Graph

import pylab

tree = [100,200,500,1000]

pylab.plot(tree,mse_RF,label='Random Forest')
pylab.plot(tree,mse_GB_list,label='Gradient Boosting' )
pylab.plot(tree,mse_XGB,label='XGradient Boosting')
pylab.legend(loc='upper right')
pylab.ylabel('Mean square Error')
pylab.xlabel('Number of Trees')
pylab.show()